*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.text-white{
    color: #fff !important;
}
.clear{
    clear: both;
}

html{
    scroll-behavior: smooth;
}
.main{}
.header{
    height: 46px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header > .nav{
    display: flex;
    position: relative;
}
.header > .nav > li{
    
}
.header > .nav > li > a{
    display: block;
    line-height: 46px;
    font-size: 15px;
    padding:0 24px ;
    color: #fff;
    text-transform: uppercase;
}
.header > .nav > li > a:hover{
    color: #000;
    background-color: #ccc;
}
.header > .nav > li:hover .subnav{
    display: block;
}
.nav .subnav{
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: absolute;
}
.nav .subnav li{
    min-width: 160px;
    background-color: #fff;
}
.nav .subnav li a {
    display: block;
    line-height: 38px;
    color: rgb(20, 20, 20);
    text-indent: 16px;
}
.nav .subnav li a:hover{
    background-color: #ccc;
}
.header #menu-mobile{
    display: none;
}
.header #menu-mobile,
.header .search{
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.header #menu-mobile,
.header .search i{
    line-height: 46px;
    padding: 0 20px;
}
.header .search:hover{
    background-color: #f44336;
}
/* Start slider */
.slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../image/1.jpg') top center / cover no-repeat;
    position: relative;
}
.slider .slider-text{
    color: #fff;
    position: absolute;
    bottom: 47px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    /* widtd:100% cũng căn giữa */
    /* left=0 right=0 cũng căn giữa */
}
.text-heading{
    font-size: 24px;
}
.text-des{
    font-size: 15px;
    margin-top: 25px;
}
/* End slider */
.content{}
.content .content-section{
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}
.content .section-heading{
    font-size: 30px;
    text-align: center;
}
.content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
.content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
    /* tiếng anh 1.4 và tiêng việt 1.6 */
}
.content .members-list{
    display: flex;
    padding: 32px 0;
}
.content .member-item{
    width: 33.33333%;
    text-align: center;
}
.content .member-item .member-name{
    font-size: 15px;
    margin-bottom: 15px;
}
.content .member-item .member-img{
    width: 154px;
    border-radius: 4px;
}
/* <!-- Tour section --> */
.tour-section{
    background-color: #000;
}
.ticket-list{
    background-color: #fff;
    margin-top: 25px;
}
.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.ticket-list li .sold-out{
    background-color: #f44336;
    color: #FFF;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list li .ticket-number{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

/* Place */
.place-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.place-item{
    width: 31%;
}
.place-img{
    width:100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    font-size: 15px;
    padding: 20px 16px;
}
.place-heading{
    font-weight: bold;
}
.place-time{
    padding: 15px 0;
    opacity: 0.6;
}
.place-des{
    padding-bottom: 25px;
}
.place-buy-btn{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    transition: 0.4s;
}
.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}
/* Contact */
.contact{
    margin-top: 50px;
    display: flex;
}
.contact .contact-info{
    width: 50%;
    font-size: 18px;
    line-height: 1.6;
}
.contact-info i[class*="fa-"]{
    width: 30px;
}
.contact .contact-form{
    font-size: 15px;
    width: 50%;
}
.form-info{
  display: flex;
  justify-content: space-between;
}
.form-info .name{
    padding: 8px;
    width: 49%;
}
.form-info .email{
    padding: 8px;
    width: 49%;
}
.contact-form .massage{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}
.form-btn-send{
    margin-top: 32px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
}
.form-btn-send:hover{
    color: #000;
    background-color: #ccc;
}

/* Map */
.map{}
.map img{
    width: 100%;
}




/* Footer */
.footer{
    padding: 64px 16px;
    text-align: center;
}
.footer .socials{
    font-size: 24px;
}
.footer .socials a{
    
    color: rgb(0,0,0,0.6);
}
.footer .socials a:hover{
    color: rgb(0,0,0,0.4)
}
.footer .map-text{
    font-size: 15px;
    color: rgb(0,0,0,0.6);
    margin-top: 15px;
}


/* Model */
.model.open{
    display: flex;
}
.model{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,0.4);
    display: none;
}
.model .model-close{}
.model .model-container{
    min-height: 200px;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modelIn ease 0.4s;
}
.model .model-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 7px 16px;
    cursor: pointer;
}
.model .model-close:hover{
    color: #000;
    background-color: #ccc;
}
.model .model-header{
    background-color: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model .model-header i{
    margin-right: 16px;
}
.model .model-body{
    padding: 16px;
}
.model-body .model-lable{
    display: block;
    margin-bottom: 12px;
}
.model-body .model-input{
    margin-bottom: 24px;
    padding: 5px 13px;
    width: 100%;
}
.model .buy-ticket{
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    background-color: #009688;
    width: 100%;
    padding: 13px;
}
.model .model-footer{
    padding: 16px;
    text-align: right;
    font-size: 15px;
}
.model .model-footer .help{
    color: #009688;
}


@keyframes modelIn{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
